@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: $header-height;
    position: fixed;
    width: 100%;
    z-index: $z-header;
}

main {
    min-height: 90vh;
}

/* SCROLL-BAR */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: $color-bg;
}

*::-webkit-scrollbar-thumb {
    background-color: $color-text-dim;
    border-radius: $radius-md;
    border: 3px solid $color-text;
}

// PLAYER TRAILER

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-modal;
  background-color: $color-overlay-soft;
}

.modal-content {
  background: $color-bg;
  overflow: auto;
  height: 80%;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 5px 15px $color-shadow;
  position: relative;
  padding: $space-sm + 2px;
  border-radius: $radius-md;
}

.close-button {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 30px;
  cursor: pointer;
  color: #ababab;
  transition: linear 0.1s;
  z-index: 1;
  &:hover {
    color: white;
  }
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

// TRAILER ERROR

.trailer-error {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.91);
  color: white;
  padding: $space-lg - 4px;
  border-radius: $radius-md;
  z-index: $z-modal;
  text-align: center;
}
