* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #1C1C1C;
}

main {
    min-height: 90vh;
    padding-top: 10vh;
}

/* SCROLL-BAR */

*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: #1c1c1c;
}
    
*::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px;
    border: 3px solid #ffffff;
}